*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

\.DS_Store
/IProyectoDiseño/build/
/IProyectoDiseño/IProyectoDiseño/build/
/IProyectoDiseño/IProyectoDiseño/nbproject/private/
*.xml

*.mf

IProyectoDiseño/IProyectoDiseño/nbproject/genfiles\.properties

IProyectoDiseño/IProyectoDiseño/nbproject/project\.properties
